@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Work Sans", sans-serif;
  font-weight: 900;
  color: white;
  letter-spacing: 2px;
  font-size: 20px;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

main {
  position: absolute;
}

.name {
  grid-area: header;
  font-weight: 900;
  letter-spacing: 2px;
  font-size: 100px;
  line-height: 100px;
  padding-right: 800px;
}

.aboutMe {
  font-weight: 900;
  letter-spacing: 2px;
  font-size: 20px;
  margin-top: 7rem;
  line-height: 50px;
  padding: 20px;
  margin-right: 4rem;
  text-align: center;
  background: rgba(100, 100, 100, 0.5);
  backdrop-filter: blur(10px);
  border-radius: 20px;
}
